.Experience{
    padding-top: 5rem;
}

.grid-three-cols{
   display: grid;
   grid-template-columns: repeat(3,1fr);
}
.Experience .experience-div{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
  }
  .heading{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.heading h2{
    width: 30%;
    text-align: center;
    font-family: "DM Serif Display", serif;
    line-height: 1.5;
}
.experience-icon {
    position: relative;
   
    width: 35%;
  }

  .icon-container {
    position: absolute;
    color: #21408E;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -40%);
    -webkit-transform: translate(-45%, -40%);
    -moz-transform: translate(-45%, -40%);
    -ms-transform: translate(-45%, -40%);
    -o-transform: translate(-45%, -40%);
}
  .icon-container .icon{
 font-size: 1.9rem;
  }
 
  .experience-div h5{
    font-size: 1.5rem;
    font-family: "DM Serif Display", serif;
   
  }
  .experience-div p{
    
    font-size: 1.1rem;
    color: #000000;
    width: 70%;
    text-align: center;
  }
  @media(max-width:1240px){
    .heading h2{
      width: 50%;
    }
  }
  @media(max-width:970px){
    .experience-icon{
      width: 50%;
    }
   .icon-container .icon{
    font-size: 1.7rem;
   }
  }
  @media(max-width:855px){
    .experience-div h5{
      font-size: 1.3rem;
    }
    .experience-div p{
      font-size: 0.9rem;
    }
  
    
  }
  @media(max-width:800px){
    .Experience{
      padding: 5rem 1rem;
    }
  }
  @media (max-width:660px){
    .grid-three-cols{
      grid-template-columns: repeat(2,1fr);
    }
  }
  @media(max-width:622px){
    .heading h2{
      width: 70%;
      font-size: 1.2rem;
    }
   
  }
  @media(max-width:500px){
   .experience-div h5{
    font-size: 1.1rem;
   }
.experience-div p{
  font-size: 0.8rem;
}
.icon-container .icon{
  font-size: 1.6rem;
}
  }
  @media (max-width:395px){
.Experience{
  padding: 5rem 0.1rem;
}
  }
  @media (max-width:355px){
    .grid-three-cols{
      grid-template-columns: repeat(1,1fr);
    }
    .experience-icon{
      width: 35%;
    }
    .icon-container .icon{
      font-size: 1.2rem;
    }
      }
  @media(max-width:322px){
    .heading h2{
      width: 90%;
      font-size: 1.1rem;
    }
  }
  